<div class="description | container section">
  <h1 class="heading-1 margin-block-end-6">
    Ось чому ці навушки<br />збільшать ваші продажі
  </h1>
  <div class="description__group | margin-block-5">
    <img src=`${import.meta.env.BASE_URL}checkmark.svg` />
    <p>Мікрофон глушить зовшнішні звуки (музику, колег)</p>
  </div>
  <div class="description__group | margin-block-5">
    <img src=`${import.meta.env.BASE_URL}checkmark.svg` />
    <p>Працюють до трьох робочих днів без підзарядки</p>
  </div>
  <div class="description__group | margin-block-5">
    <img src=`${import.meta.env.BASE_URL}checkmark.svg` />
    <p>Завжди чудово чутно клієнтів</p>
  </div>
  <div class="description__group | margin-block-5">
    <img src=`${import.meta.env.BASE_URL}checkmark.svg` />
    <p>Ви можете вільно розмовляти та пересуватися по офісу</p>
  </div>
</div>
