<div class="container section">
  <h1 class="heading-1 margin-block-end-6">Наші переваги</h1>
  <div class="features__container">
    <div class="card">
      <img src="/card-1.svg" />
      <p>Відправка в день замовлення</p>
    </div>
    <div class="card">
      <img src="/card-2.svg" />
      <p>Від 5 шт. знижка (уточнюйте за телефоном)</p>
    </div>
    <div class="card">
      <img src="/card-3.svg" />
      <p>Гарантія на кожну пару</p>
    </div>
    <div class="card">
      <img src="/card-4.svg" />
      <p>Подарунок до кожного замовлення</p>
    </div>
  </div>
</div>
