<header class="site-header">
  <div class="site-header__inner container">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="23"
      height="18"
      viewBox="0 0 23 18"
      fill="none"
    >
      <path
        d="M1 1H22M1 17H22H1ZM1 9H22H1Z"
        stroke="black"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
    <a class="site-header__logo" href="/">HYPER STORE</a>
    <div>
      <!-- <a href="tel:+380981488228">+380981488228</a> -->
      <a class="button" data-type="primary">ЗАМОВИТИ</a>
    </div>
  </div>
</header>
