<div class="order | container section">
  <div>
    <h1 class="order__title">Покращуй свій результат вже зараз</h1>
  </div>
  <div class="order__form | contact-form">
    <form class="form-group" id="form">
      <input
        id="name"
        name="name"
        type="text"
        autocomplete="given-name"
        placeholder="Ваше ім'я"
      />
      <input
        id="phone"
        name="phone"
        type="tel"
        pattern="^[+]?[0-9]+"
        autocomplete="tel"
        placeholder="Номер телефону"
        required
      />
      <button class="button" data-type="primary" type="submit">ЗАМОВИТИ</button>
    </form>
  </div>
</div>
