<div class="reviews | container section">
  <h1 class="heading-1 margin-block-end-6">Відгуки</h1>
  <div class="reviews__gallery-container">
    <div class="swiper-button-prev"></div>
    <div class="swiper" id="reviews-gallery">
      <div class="swiper-wrapper">
        <div class="reviews__slide | swiper-slide">
          <img
            alt="HyperX Cloud Stinger Core - Бездротова ігрова гарнітура + 7.1"
            src=`${import.meta.env.BASE_URL}review-1.jpg`
          />
        </div>
        <div class="reviews__slide | swiper-slide">
          <img
            alt="HyperX Cloud Stinger Core - Бездротова ігрова гарнітура + 7.1"
            src=`${import.meta.env.BASE_URL}review-2.jpg`
          />
        </div>
        <div class="reviews__slide | swiper-slide">
          <img
            alt="HyperX Cloud Stinger Core - Бездротова ігрова гарнітура + 7.1"
            src=`${import.meta.env.BASE_URL}review-3.jpg`
          />
        </div>
        <div class="reviews__slide | swiper-slide">
          <img
            alt="HyperX Cloud Stinger Core - Бездротова ігрова гарнітура + 7.1"
            src=`${import.meta.env.BASE_URL}review-4.jpg`
          />
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
  </div>
</div>
