@use "../abstracts" as *;

.site-header {
  color: $site-header-color;
  background-color: $site-header-background-color;
  padding: $site-header-padding;
  border-bottom: $site-header-border-bottom;
  box-shadow: $site-header-box-shadow;

  &__logo {
    font-family: $site-header-logo-font-family;
    font-weight: $site-header-logo-font-weight;
    font-size: $site-header-logo-font-size;
    text-decoration: none;
    text-shadow: 0px 4px 4px #42454a33;
  }

  &__inner {
    display: flex;
    gap: $size-4;
    align-items: $site-header-alignment;
    justify-content: $site-header-jusitifcation-small-screens;

    @include mq(medium) {
      justify-content: $site-header-jusitifcation-large-screens;
    }
  }
}
